h1
{
    background-color: palevioletred;
}
body
{
    background-image: url(fishies.png);
    background-size: 20%;
    background-repeat:repeat;
}
p
{
    background-color: pink;
    color: black;
    font-family: Sans-serif;
    font-size: 15pt;
}
a
{
    background-color: peachpuff;
    color: blue;
}
a:hover
{
    background-color: lightseagreen;
    color: purple;
}
p.beau
{
    font-style: Sans-serif;
    font-size: 25pt;
    background-color: lightblue;
    color: black
}